@import "tailwindcss";



@theme {
  --color-brand-blue: #3B6FFF;
  --color-brand-glow: #1A3AFF;
  --color-dark-900: #080810;
  --color-dark-800: #0D0D1A;
  --color-dark-700: #111120;

  --font-sans: "DM Sans", sans-serif;
  --font-display: "DM Serif Display", serif;
}




body {
  background-color: #080810;
  color: white;
}

.glow-blue {
  box-shadow: 0 0 80px 30px rgba(59, 111, 255, 0.25);
}
